
*:after,*,*:before{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{

}

*::selection{
color: red;
background: tan;
}

html{
font-size: 10px;
}

a{
text-decoration: none;
}

ul{
list-style-type: none;
}





.wrapper{
margin: 1rem auto;
padding: 1rem;
width: min(38rem, 100% - 2rem);
background: #00000034;
border-radius: 1rem;
}



.blue{
--color:#00FBFF;
color: var(--color);
}

.red{
--color:#EE0F00;
color: var(--color);
}



input[type=text], input[type=number], input[type=date], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=submit] {
width: 100%;
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #45a049;
}

input:focus {
border: 1px solid #d9d5e0;
}

#expenseForm div {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
}